body, div, ul, li, a, p, h1, h2, h3, h4, h5, input {
	margin: 0;
	padding: 0;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
	display: block;
}
img {
	display: block;
	border: none;
}
.clearfix {
	zoom: 1;
}
.clearfix::after {
	display: block;
	content: "";
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
/* 导航栏 */
.header {
	height: 60px;
	background-color: #232E3C;
}
.header .index-logo {
	float: left;
	font-size: 20px;
	line-height: 60px;
	color: #FFF;
}
.header .index-catalog {
	float: right;
	margin-top: 20px;
}
.header .index-catalog .item {
	float: left;
	margin-left: 30px;
}
.header .index-catalog a:hover {
	color: #BCD1CF;
}
/* banner */
.banner {
	background-color: #83D0F2;
	position: relative;
	height: 300px;
	width: 100%;
}
.banner .banner-num {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 230px;
	margin-bottom: 20px;
}

/* 怎么实现底部对齐呢 */
/* 对li进行float后，vertical-align: bottom就不起作用了
去除li的float，改用display:inline-block后vertical-align: bottom可用。 */
.banner .banner-list {
	line-height: 30px;
}
.banner .banner-list .item {
	display: inline-block;
	margin-left: 10px;
	width: 25px;
	height: 30px;
	border: 1px solid #333;
	background-color: #E3E3E3;
	text-align: center;
	vertical-align: bottom;  /*底部对齐*/
}
.banner .banner-list .active {
	padding-top: 10px;
	background-color: #FFFFFF;
}
/* 导航栏 */
.nav {
	width: 100%;
	border-bottom: 1px solid #CCC;
}
.nav .nav-item {
	float: left;
	margin-top: 30px;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #CCC;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #CCC;
}
.nav .active {
	background-color: #FFF;
	border-bottom: 0;
}

.content .content-row {
	display: flex;
	justify-content: space-between;
}
.content .content-col {
	padding: 80px;
	border: 1px solid #CCC;
	margin-top: 10px;
}
/* 页脚 */
.footer {
	background-color: #454545;
	height: 100px;
	width: 100%;
	text-align: center;
	line-height: 100px;
	margin-top: 20px;
}