html, body, div, ul, ol, li, p, h1, h2, h3, dl, dt, dd, input, a, textarea, form {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
}
ul, ol {
	list-style-type: none;
}

a {
	display: block;
	text-decoration: none;
	color: #b7c0cd;
}
img {
	border: none;
	display: block;
}
.clearfix {
	*zoom: 1;
}
.clearfix::after {
	display: block;
	content: "";
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
}