.index-set {
	width: 100px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1d2531;
}
.index-set .set-item {
	margin: 20px;
	width: 60px;
	height: 60px;
}
/* 底部按钮 */
.index-set .set-icon {
	position: absolute;
	right: 25px;
	bottom: 20px;
}
.set-icon .icon1 {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 16px;
	background: url('../images/demo5.png');
}
.set-icon .icon2 {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../images/demo6.png')
}

/* 菜单栏 */

.index-menu {
	width: 250px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100px;
	background-color: #222c3c;
	overflow-x: hidden;
	overflow-y: scroll;
}
/* 隐藏滚动栏 */
.index-menu::-webkit-scrollbar {
	display:none;
}
/* 用一个容器来装这些元素 */
.index-menu .container {
	width: 190px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}
/* 统一设置头部 */
.index-menu .title a {
	width: 16px;
	height: 16px;
	display: inline-block;
	float: right;
	background: url('../images/setting.png') no-repeat;
}
/* 统一设置数字 */
.index-menu .off {
	display: none;
}
.index-menu .on {
	float: right;
	display: inline-block;
	text-align: center;
	width: 34px;
	height: 25px;
	line-height: 25px;
	border-radius: 10px;
	background-color: #1d94ed;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
} 
/* 统一设置感叹号 */
.index-menu .mark {
	float: right;
	display: inline-block;
	text-align: center;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	background-color: #d73418;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
/* 统一设置列表的部分属性 */
.index-menu .title {
	margin-top: 30px;
	color: #5b6779;
	font-size: 12px;
	cursor: pointer;
}
.index-menu dd {
	margin-top: 30px;
	color: #b7c0cd;
	font-size: 14px;
	cursor: pointer;
}
.index-menu .main-menu {
	border-bottom: 1px solid #2a3547;
}
.index-menu .your-products {
	border-bottom: 1px solid #2a3547;
}
.index-menu .dashboard {
	border-bottom: 1px solid #2a3547;
	margin-bottom: 30px;
}
.index-menu dl .last-dd {
	margin-bottom: 25px;
}
.monthly-goals {
	position: fixed;
	bottom: 0;
	background-color: #212C3B;
}
.monthly-goals .gols {
	font-size: 14px;
	color: #fff;
}
.monthly-goals .out-line {
	margin-top: 15px;
	width: 190px;
	height: 5px;
	background-color: #2d3848;
	border-radius: 2px;
}
.monthly-goals .in-line {
	width: 40px;
	height: 5px;
	background-color: #9581e4;
	border-radius: 2px;
}
/* 消息栏 */
.index-message {
	height: 100%;
	margin-left: 350px;
	background-color: #fff;

}
.messages-header {
	height: 80px;
	width: 100%;
	border-bottom: 1px solid #e6e9ec;
}
.messages-header .msg-title {
	float: left;
	line-height: 80px;
	margin-left: 30px;
	font-size: 24px;
	color: #354052;
}
.messages-header .msg-right {
	float: right;
	margin-top: 14px;
	margin-right: 30px;
}
.messages-header .msg-self img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 15px;
}
.messages-header .msg-self .msg-list {
	float: left;
	margin-right: 40px;
}
.messages-header .msg-list .user-name {
	font-size: 16px;
	color: #2399f1;
}
.messages-header .msg-list .user-level {
	margin-top: 10px;
	font-size: 14px;
	color: #b5b5b5;
}
.messages-header .msg-right .msg-more {
	float: left;
	background: url('../images/msg-down.png') no-repeat;
	width: 11px;
	height: 7px;
	margin-top: 22px;
}

.index-message .msg-search {
	height: 80px;
	position: relative;
	float: left;
	border-bottom: 1px solid #e6e9ec;
}

/* 更改了输入input */
.index-message .msg-search {
	width: 400px;
	border-right: 1px solid #e6e9ec;
}
.index-message .msg-search .sesrch-icon {
	width: 16px;
	height: 16px;
	background: url('../images/search-icon.png') no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 30px;
	margin-right: 40px;
}

.index-message .msg-search input {
	width: 325px;
	height: 35px;
	border: 1px solid #e5e8ee;
	border-radius: 5px;
	margin: 15px 30px;
	padding-left: 15px;
}
/* 右边搜索栏 */
.index-message .search-profile .messages-top {
	height: 70px;
	border-bottom: 1px solid #e6e9ec;
}
.index-message .search-profile .msg-name {
	float: left;
	font-size: 18px;
	color: #585d68;
	line-height: 70px;
	margin-left: 30px;
}
.index-message .search-profile .msg-tools {
	float: right;
	line-height: 70px;
}
.search-profile .msg-tools .tools-list {
	float: left;
	padding-right: 20px;
	height: 32px;
	margin-top: 12px;
}
.search-profile .msg-tools .tools-list li {
	width: 15px;
	height: 10px;
	padding: 10px;
	border: 1px solid #ced0da;
	background-color: #fcfcfd;
	border-radius: 10px;
}
.search-profile .tools-list img {
	width: 16px;
	height: 16px;
}
.index-message .search-profile .msg-tools li {
	display: inline-block;
}
.index-message .search-profile .msg-tools p {
	float: left;
	font-size: 14px;
	color: #56688a;
	margin: 0 15px;
}
.index-message .search-profile .msg-arrows {
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}
.index-message .search-profile .msg-arrows li {
	width: 13px;
	height: 8px;
	padding: 10px;
	border: 1px solid #ced0da;
	background-color: #fcfcfd;
	text-align: center;
	border-radius: 10px;
}


/* 左边消息栏 */
.messages-left {
	width: 400px;
	float: left;
	height: 460px;
	margin-left: 350px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-right: 1px solid #e6e9ec;
}
.messages-left::-webkit-scrollbar {
	display: none;
}

.messages-left .search-item {
	height: 130px;
	padding: 15px 20px;
	border-bottom: 1px solid #e6e9ec;
}
.messages-left .selected {
	border-left: 5px solid #2399f1;
}
.messages-left .search-item img {
	float: left;
	width: 46px;
	height: 46px;
}
.messages-left .search-item .search-user {
	float: left;
	margin-left: 20px;
}
.messages-left .search-item .user-name {
	font-size: 16px;
	color: #2399f1;
}
.messages-left .search-item .user-level {
	margin-top: 10px;
	font-size: 14px;
	color: #b5b5b5;
}
.messages-left .search-item .distance {
	float: right;
	margin-right: 22px;
	font-size: 14px;
}
.messages-left .search-item .now {
	color: #2399f1;
}
.messages-left .search-main {
	margin-top: 15px;
}
.messages-left .search-main p {
	color: #585d68;
	font-size: 14px;
	width: 290px;
	float: left;
}
.messages-left .search-main .search-num {
	float: right;
	margin-right: 22px;
	text-align: center;
	margin-top: 10px;
}
.messages-left .search-main .on {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #2298f1;
	color: #fff;
}
/* chat头部 */
.messages-right {
	margin-left: 750px;
	border-top: 1px solid #e6e9ec;
}
.messages-right .messages-desc {
	margin: 25px 60px 0 30px;
	height: 150px;
}
.messages-right .item-left {
	float: left;
	margin-right: 15px;
}
.messages-right .item-right {
	overflow: hidden;
}
.messages-right .item-right .name {
	font-size: 16px;
	color: #585d68;
}
.messages-right .item-right .time {
	font-size: 14px;
	color: #7f8fa4;
}

.messages-right .through-line .line-day {
	margin-top: 10px;
	font-size: 14px;
	color: #585d68;
	float: left;
	margin: 10px 20px;
}
.messages-right .through-line {
	color: #7f8fa4;
	font-size: 14px;
}
.messages-right .through-line .line {
	width: 250px;
	height: 2px;
	margin-top: 20px;
	display: inline-block;
	background-color: #d9dde3;
}
.messages-right .through-line .l-left {
	float: left;
}
.messages-right .through-line .l-right {
	float: right;
}